/* //////////////////////////// */
/* max-width: 2560px */
/* //////////////////////////// */

@media (max-width: 160em) {
  html {
    font-size: 88%;
  }
}

/* //////////////////////////// */
/* max-width: 1920px */
/* //////////////////////////// */

@media (max-width: 120em) {
  html {
    font-size: 62.5%;
  }
}

/* //////////////////////////// */
/* max-width: 1440px */
/* //////////////////////////// */

@media (max-width: 90em) {
  html {
    font-size: 40%;
  }
}

/* //////////////////////////// */
/* max-width: 320px */
/* //////////////////////////// */

@media (max-width: 20em) {
  html {
    font-size: 25%;
  }
  .menu-img {
    width: 64%;
  }
  .links {
    gap: 3.2rem;
  }
}
